Outputs
COPYING.txt
README.txt
rubberband-r3.exe
rubberband.exe
sndfile.dll
token.pickle
client_secrets.json
Scripts/video.mp4
Scripts/subtitles.srt
cloud_service_settings.ini
workingFolder
SSML_Customization
final_videos

